@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
margin: 0;
padding: 0;
box-sizing:border-box;
font-family: "Bai Jamjuree", sans-serif;
font-style:normal;
}

:root{
--strong-cyan:hsl(171, 66%, 44%);
--light-blue:hsl(233, 100%, 69%);
--gb:hsl(201, 11%, 66%);
--dark-gb:hsl(210, 10%, 33%);
--white:#fff;
--light-gray:#f5f6f8;
}

main .hero{
background:url(./images/bg-header-desktop.png);
background-size: cover;
background-position:center;
width: 100%;
}

main .hero .logo{
margin:0 auto;
text-align: center;
padding-top: 5rem;
}

main .hero-text{
text-align: center;
}
main .hero-text h2{
font-weight: 600;
}

main .hero-text p{
line-height: 1.3;
opacity: 0.6;
}
main .hero-text .buttons{
padding-top:1.3rem;
}
main .hero-text .buttons button{
padding:10px 20px;
border-radius:20px;
border: none;
display: inline-block;
color:var(--white);
}
main .hero-text .buttons .ios{
background:var(--strong-cyan);
}
main .hero-text .buttons .mac{
background: var(--light-blue);
}



main .mac-texts{
width: 100%;
padding-top:4rem;
/* border: 2px solid green; */
}
.mac-texts .keep > h3,
.mac-texts .keep > p{
text-align: center;
}
main .mac-texts .flex{
display: flex;
/* border: 2px solid red; */
/* width: 80%; */
/* margin: 0 auto; */
}
.mac-texts .flex{
padding-top: 3rem;
}
main .mac-texts .flex .mac{
margin-left: -2rem;
/* border: 2px solid red; */
}
main .mac-texts .flex .mac img{
width: 500px;
}

.mac-texts .texts{
padding-top:3rem;
padding-left: 5rem;
/* border: 2px solid blue; */
width: 100%;
}
.mac-texts .keep h3{
font-weight: 600;
}
.mac-texts .keep p{
opacity: 0.6;
}
.mac-texts .texts .word{
padding-bottom: 1.3rem;
}

.word h4{
font-weight:600;
}
.word p{
padding-top: 0.7rem;
line-height: 1.3;
opacity: 0.6;
}

main .access{
text-align: center;
padding-top: 3rem;
}
main .access h4{
font-weight: 600;
}
main .access p{
opacity: 0.6;
}

main .devices{
margin: 0 auto;
width: 500px;
padding-top: 3.5rem;
}
main .devices img{
width: 100%;
}
main .icons .icons-container{
width: 80%;
margin: 0 auto;
}
main .icons .icons-container .charge{
text-align:center;
}
main .icons .icons-container .charge h4{
font-weight: 600;
}
main .icons .icons-container .charge p{
opacity: 0.6;
}


main .icons .icons-container .container{
padding-top: 3rem;
display: grid;
grid-template-columns:repeat(3, 1fr);
}

.icons-container .container{
text-align: center;
}
.icons-container .container div h3{
padding-top: 1rem;
font-weight: 600;

} .icons-container .container div p{
padding-top: 1rem;
line-height: 1.3;
opacity: 0.6;
}


main .brands{
width: 100%;
padding-top: 4rem;
}

main .brands .brands-container{
width: 80%;
margin: 0 auto;
}
main .brands .brands-container .brands-icons{
display: grid;
grid-template-columns: repeat(5, 1fr);
}

main .clip{
text-align: center;
padding-top: 3.5rem;
padding-bottom: 3rem;
}
.clip h2{
font-weight:600;
}
.clip p{
padding-top:10px;
opacity: 0.6;
}

 .clip .buttons{
padding-top:1.3rem;
}
.clip .buttons button{
padding:10px 20px;
border-radius:20px;
border: none;
display: inline-block;
color:var(--white);
}
.clip .buttons .ios{
background:var(--strong-cyan);
}
.clip .buttons .mac{
background: var(--light-blue);
}

main footer{
width: 100%;
/* padding-top: 3rem; */
background-color: var(--light-gray);
}

footer .footer-container{
width: 80%;
margin: 0 auto;
display: flex;
padding: 1rem 2rem;
/* align-items: center; */
justify-content: space-between;
flex-wrap:wrap;
align-items: center;
}

.footer-container .logo{
width: 40px;
}
.footer-container .logo img{
width: 100%;
}
.footer-container .wrapper{
display: flex;
align-items: center;
justify-content: space-between;
/* border: 2px solid black; */
width: 45%;
}
.wrapper ul{
list-style: none;
}
.wrapper ul li{
line-height: 1.4;
}
.wrapper ul a{
text-decoration: none;
color:#000;
font-weight: 200;
font-style: normal;
}

.footer-container .sa{
list-style:none;
}
.sa a{
text-decoration: none;
color: #000;
font-weight: 200;
}
.socials{
display: flex;
justify-content: space-between;
width: 8%;
align-items: center;
}
.socials a{
display: inline-block;
}
.socials img{
display: inline-block;
width: 20px;
}

@media screen and (max-width:900px){
main .mac-texts .flex .mac img{
width: 400px;
}

main .devices{
width: 400px;
}
main .devices img{
width: 100%;
}
main .brands .brands-container .brands-icons{
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
gap: 2rem;
}
.footer-container .wrapper{
width: 70%;
}

footer .socials{
width: 15%;
}

}

@media screen and (max-width:775px){
main .brands .brands-container .brands-icons{   
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
}
}

@media screen and (max-width:650px){
footer .footer-container{
display: flex;
flex-direction: column;
flex-wrap: wrap;
padding: 1rem 2rem;
justify-content: center;
align-items:space-between;
}

footer .wrapper{
display:flex;
flex-direction: column;
justify-content:center;
align-items: space-between;
padding: 1rem 1.2rem;
}

footer .logo{
padding-bottom: 1rem;
}
footer .footer-container .mid{
padding-left: 1.5rem;
}

footer .footer-container .kit{
padding-left: 1rem;
}

footer .footer-container li{
padding-bottom: 0.7rem;
}
footer .socials{
width: 25%;
}

main .mac-texts .flex{
display: flex;
flex-direction: column;
}

main .mac-texts .flex .mac{
margin: 0 auto;
}

main .mac-texts .flex .word{
text-align: center;
padding-right: 2.5rem;
}
main .brands .brands-container .brands-icons{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows:auto;
}


@media screen and (max-width:450px){
main .icons .icons-container .container{
display: grid;
grid-template-columns:1fr;
grid-gap:1.3rem;
}
main .brands .brands-container .brands-icons{
display: grid;
grid-template-columns:1fr;
}
main .brands .brands-container .brands-icons > div{
margin: auto;
}

main .hero-text h2{
padding: 0 0.5rem;
}
main .hero-text p{
padding:0 1.5rem;
}

.clip p{
padding: 0 1.5rem;
}

.mac-texts .keep p{
padding:0 1.5rem;
}

}

@media screen and (max-width:400px){
main .mac-texts .flex .mac img{
width: 300px;
}

main .devices{
width: 300px;
}
main .devices img{
width: 100%;
}
main .hero-text .buttons button,
.clip .buttons button{
display:block;
margin: auto;
padding: 1.3 2.5rem;
}
main .hero-text .buttons .mac,
.clip .buttons .mac{
margin-top: 1rem;
}

footer .socials{
width:35%;
}
}
}